@import "utility.scss";

section.channel-view {
  figure.banner {
    height: calc(100vw/6);
    background: url("/avdan-banner.png") no-repeat;
    background-position: center;
    background-size: cover;
  }

  section {
    &.channel-info {
      padding: 0 80px;
      @include flex($align: center, $gap: 8px);

      img.avatar {
        margin-top: -64px;
        border-radius: 50%;
        width: 128px; height: 128px;
      }

      div.sub-info {
        width: 100%;
        @include flex($justify: space-between, $align: center);

        aside.left {
          @include flex($direction: column, $gap: 6px);
          h1.name { color: var(--title); font-size: 22px; font-weight: 600; }
          p.subscribers { font-size: 18px; font-weight: 500; }
        }

        a.subscribe { padding: 12px 24px; }
      }
    }

    &.tabs {
      padding: 0 20px;
      margin: 24px 80px 0;
      border-bottom: 2px solid var(--hover);
      @include flex($justify: space-between);

      a.tab {
        cursor: pointer;
        position: relative;
        padding-bottom: 8px;
        font-size: 18px; font-weight: 600;

        &.active {
          color: red;

          &::after {
            content: "";
            display: block;
            background: red;
            font-weight: 700;
            width: 150%; height: 7px;
            border-top-left-radius: 4px; border-top-right-radius: 4px;
            position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
          }
        }
      }
    }

    &.home {
      padding: 24px 80px;
      @include flex($direction: column);

      aside.season {
        label { color: var(--title); font-weight: 600; }

        div.videos {
          padding: 12px 0;
          display: grid; gap: 12px;
          grid-template-columns: repeat(4, minmax(0, 1fr));

          a.video {
            flex: 0 0 25%;
            @include flex($direction: column);

            img.thumbnail { aspect-ratio: 16/9; object-fit: cover; }
            div.details {
              @include flex($direction: column);

              h1.title {
                padding: 12px 0 8px 0;
                color: var(--title); font-size: 16px; font-weight: 600;
                overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
              }

              span { font-size: 16px; font-weight: 500; }
            }
          }
        }
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 768px) {
  section {
    figure.banner { height: calc(100vw/3.5) !important; }
    &.channel-info {
      padding: 16px !important;

      img.avatar {
        margin: 0 !important;
        border-width: 4px !important;
        width: 72px !important; height: 72px !important;
      }

      div.sub-info {
        aside.left {
          h1.name { font-size: 18px !important; }
          p.subscribers { font-size: 14px !important; }
        }

        a.subscribe {
          font-size: 16px;
          padding: 8px 12px !important;
          height: max-content !important;
        }
      }
    }

    &.tabs {
      display: none !important;
      // Will be changed in the future
    }

    &.home {
      padding: 16px 16px 80px !important;
      aside.season {
        div.videos {
          grid-template-columns: minmax(0, 1fr) !important;

          a.video {
            gap: 12px;
            flex-direction: row !important;

            div.details h1.title {
              padding: 0 !important;
              white-space: normal !important;
              overflow: hidden;
              display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;
            }

            img.thumbnail { width: 45vw; }
          }
        }
      }
    }
  }
}