@import "utility.scss";

section.explore-page {
  section {
    &.tags {
      padding: 0 16px;
      background: var(--bg);

      div.container {
        max-width: 100vw;
        overflow-x: auto;
        padding-top: 16px;
        display: flex; gap: 12px;

        a.tag {
          cursor: pointer;
          font-size: 16px;
          font-weight: 500;
          padding: 6px 14px;
          border-radius: 36px;
          background: var(--search);

          &:hover { background: var(--hover); }
          &.active { background: red; color: white; font-weight: 600; }
        }

        &::-webkit-scrollbar { display: none; }
      }
    }

    &.featured-creators {
      padding: 16px;

      div.container {
        @include grid($cols: var(--util-cols), $gap: 32px);

        figure.channel-info {
          padding: 16px 0;
          @include flex($align: center, $gap: 16px);

          img.avatar {
            cursor: pointer;
            border-radius: 50%;
            width: 72px; height: 72px;
            box-shadow: 0 4px 8px var(--shadow);
          }

          div.sub-info {
            width: 100%;
            @include flex($justify: space-between, $align: center);

            aside.left {
              @include flex($direction: column, $gap: 4px);

              p.subscribers { font-size: 14px; font-weight: 500; }
              h1.name { color: var(--title); font-size: 18px; font-weight: 600; cursor: pointer; }
            }

            a.subscribe {
              color: white;
              background: red;
              padding: 8px 12px;
              height: max-content !important;
            }
          }
        }
      }
    }

    &.explore-content {
      padding: 0 16px 32px;
      @include flex($direction: column);

      div.container {
        padding-top: 16px;

        div.videos { @include grid($gap: 36px 12px); }
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 700px) {
  section.explore-page {
    section {
      &.tags { top: 0 !important; }

      &.featured-creators div.container {
        gap: 0 !important;

        figure.channel-info {
          padding: 16px 0 !important;
        }
      }

      &.explore-content {
        margin: 0 !important;
        padding: 0 !important;
        margin-bottom: 64px !important;

        label { padding: 0 16px; }

        div.videos {
          gap: 0 !important;

          a.video {
            img.thumbnail { border-radius: 0 !important; }
            div.details {
              padding: 12px;

              h1.title { padding: 0 0 8px !important; }
              footer.bottom a.creator-details img.avatar { width: 36px !important; height: 36px !important; }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  section.featured-creators div.container { gap: 0 !important; }
}