@import "utility.scss";

section.explore-page {
  section {
    &.tags {
      padding: 8px 12px;
      background: var(--bg);

      div.container {
        max-width: 100vw;
        overflow-x: auto;
        padding-top: 16px;
        display: flex; gap: 12px;

        a.tag {
          cursor: pointer;
          font-size: 16px;
          font-weight: 500;
          padding: 6px 14px;
          border-radius: 36px;
          background: var(--search);

          &:hover { background: var(--hover); }
          &.active { background: red; color: white; font-weight: 600; }
        }

        &::-webkit-scrollbar { display: none; }
      }
    }

    &.featured-creators {
      padding: 16px;

      div.container {
        display: grid; gap: 32px;
        grid-template-columns: repeat(2, minmax(0, 1fr));

        figure.channel-info {
          padding: 16px 0;
          @include flex($align: center, $gap: 16px);

          img.avatar {
            border-radius: 50%;
            width: 72px; height: 72px;
            box-shadow: 0 4px 8px var(--shadow);
          }

          div.sub-info {
            width: 100%;
            @include flex($justify: space-between, $align: center);

            aside.left {
              @include flex($direction: column, $gap: 4px);

              h1.name { color: var(--title); font-size: 18px; font-weight: 600; }
              p.subscribers { font-size: 14px; font-weight: 500; }
            }

            a.subscribe {
              color: white;
              background: red;
              padding: 8px 12px;
              height: max-content !important;
            }
          }
        }
      }
    }

    &.explore-content {
      padding: 0 16px 32px;
      @include flex($direction: column);

      div.container {
        padding-top: 16px;

        div.videos {
          display: grid; gap: 36px 12px;
          grid-template-columns: repeat(4, minmax(0, 1fr));

          a.video {
            flex: 0 0 25%;
            @include flex($direction: column);

            img.thumbnail { aspect-ratio: 16/8.9; object-fit: cover; border-radius: 4px; }
            div.details {
              @include flex($direction: column);

              h1.title {
                padding: 8px 0;
                color: var(--title); font-size: 16px; font-weight: 600;
                overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
              }

              span.views { font-size: 16px; font-weight: 500; }
            }

            footer.bottom {
              @include flex($align: center);

              a.creator-details {
                @include flex($align: center, $gap: 8px);

                img.avatar { border-radius: 36px; width: 24px; height: 24px; }
                h1.name { color: var(--title); font-size: 16px; font-weight: 500; }
              }

              span.dot { font-size: 12px; margin: 0 4px; }
            }
          }
        }
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 768px) {
  section {
    &.tags { top: 0 !important; }

    &.featured-creators div.container {
      gap: 0 !important;
      grid-template-columns: minmax(0, 1fr) !important;

      figure.channel-info {
        padding: 16px 0 !important;
      }
    }

    &.explore-content {
      margin: 0 !important;
      padding: 0 !important;
      margin-bottom: 64px !important;

      label { padding: 0 16px; }

      div.videos {
        gap: 0 !important;
        grid-template-columns: minmax(0, 1fr) !important;

        a.video {
          img.thumbnail { border-radius: 0 !important; }

          div.details {
            padding: 12px;

            h1.title { padding: 0 0 8px !important; }
            footer.bottom a.creator-details img.avatar { width: 36px !important; height: 36px !important; }
          }
        }
      }
    }
  }
}