@import "utility.scss";

section.home-page {
  section {
    &.watch-later {
      padding: 0 16px;

      div.videos {
        padding: 16px 0;
        overflow-x: scroll;
        @include flex($gap: 36px 12px);

        a.video { width: 0; }

        &::-webkit-scrollbar {
          height: 4px;
          &-thumb { background: red; }
          &-track { background: var(--hover); }
        }
      }
    }

    &.home-content {
      padding: 16px;
      @include flex($direction: column);

      div.container div.videos { @include grid($gap: 36px 12px); }
    }
  }
}

// Mobile
@media only screen and (max-width: 700px) {
  section.home-page {
    section {
      padding: 0 !important;

      &.watch-later {
        div.videos {
          padding: 16px;

          a.video {
            width: 60vw;
            a.creator-details img.avatar { display: none; }
          }
        }
      }

      &.home-content {
        margin-bottom: 64px !important;

        div.videos {
          gap: 0 !important;

          a.video {
            img.thumbnail { border-radius: 0 !important; }
            div.details {
              padding: 12px;

              h1.title { padding: 0 0 8px !important; }
              footer.bottom a.creator-details img.avatar { width: 36px !important; height: 36px !important; }
            }
          }
        }
      }

      label { padding: 0 16px; }
    }
  }
}