@import "utility.scss";

section.homepage {
  section {
    &.tags {
      width: 100%;
      padding: 8px 12px;
      overflow-x: hidden;
      background: var(--bg);
      display: flex; gap: 12px;
      position: fixed; top: 72px;

      a.tag {
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        padding: 6px 14px;
        border-radius: 36px;
        background: var(--search);

        &:hover { background: var(--hover); }
        &.active { background: red; color: white; font-weight: 600; }
      }
    }

    &.allvideos {
      margin: 64px 0 32px;
      padding: 0 12px;
      @include flex($direction: column);

      aside.container {
        label { color: var(--title); font-weight: 600; }

        div.videos {
          display: grid; gap: 24px 12px;
          grid-template-columns: repeat(4, minmax(0, 1fr));

          a.video {
            flex: 0 0 25%;
            @include flex($direction: column);

            img.thumbnail { aspect-ratio: 16/8.9; object-fit: cover; border-radius: 4px; }
            div.details {
              @include flex($direction: column);

              h1.title {
                padding: 12px 0 8px 0;
                color: var(--title); font-size: 16px; font-weight: 600;
                overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
              }

              span.views { font-size: 16px; font-weight: 500; }
            }

            footer.bottom {
              @include flex($align: center);

              div.creator-details {
                @include flex($align: center, $gap: 8px);

                img.avatar {
                  border-radius: 36px;
                  width: 24px; height: 24px;
                }

                h1.name { font-size: 16px; font-weight: 500; }
              }

              span.dot { font-size: 12px; margin: 0 4px; }
            }
          }
        }
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 768px) {
  section {
    &.tags {
      display: none !important; // Will be changed in the future
    }

    &.allvideos {
      margin: 0 !important;
      padding: 0 !important;
      margin-bottom: 64px !important;

      div.videos {
        grid-template-columns: minmax(0, 1fr) !important;

        a.video {
          img.thumbnail {
            border-radius: 0 !important;
          }

          div.details {
            padding: 0 12px;
          }
        }
      }
    }
  }
}