@import "utility.scss";
@import "explore.scss";
@import "channel.scss";
@import "watch.scss";
@import "home.scss";

body { overflow-x: hidden; background: var(--bg); }
header {
  position: fixed; left: 0;

  &.navigation {
    top: 0;
    z-index: 100;
    max-height: 72px;
    padding: 20px 32px;
    background: var(--bg);
    width: calc(100% - 60px);
    @include flex($align: center, $justify: space-between);

    aside {
      &.brand {
        @include flex($align: center, $gap: 16px);
        img.mobile-logo { display: none; width: 42px; height: 42px; }
      }

      &.search {
        width: 42%;
        cursor: text;
        border-width: 2px;
        position: relative;
        padding: 10px 20px;
        border-radius: 6px;
        border-style: solid;
        background: var(--search);
        border-color: transparent;
        transition-duration: 200ms;
        transform: translateX(-50%);
        transition-property: background, color;
        position: absolute; left: 50%; right: 50%;
        @include flex($align: center, $gap: 16px);

        input {
          height: 100%;
          font-size: 16px;
          background: transparent;
          width: calc(100% - 108px);
          position: absolute; top: 0; left: 54px;
          &:focus { outline: none; }
        }

        &:focus-within {
          border-image: linear-gradient(to right,
            var(--hover) 0 54px,
            var(--text) 54px calc(100% - 54px),
            var(--hover) calc(100% - 54px) 100%) 0 0 100% 0;
        }

        &:hover, &:focus-within {
          background: var(--hover);
          i, input::placeholder { color: var(--text); }
        }
      }

      &.links {
        font-weight: 500;
        @include flex($align: center, $gap: 26px);
        img { border-radius: 50%; }
      }

      .action-icon { font-size: 32px; cursor: pointer; }
      i, input::placeholder { color: #A8A8A8; font-weight: 500; }
      img.mobile-avatar { border-radius: 36px; display: none; position: absolute; right: 12px; }
    }
  }

  &.sidebar {
    top: 72px;
    width: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--bg);
    padding: 16px 16px 16px 0;
    max-height: calc(100vh - 96px);
    @include flex($direction: column, $gap: 16px);

    a.create-video {
      margin: 0 32px;
      width: max-content;
      background: var(--button);
      @include flex($align: center, $gap: 8px);
      i { font-size: 28px; transition: 200ms color; color: red; }
    }

    aside {
      @include flex($direction: column, $gap: 3px);

      a {
        overflow: hidden;
        padding: 10px 32px;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition-duration: 200ms;
        border-radius: 0 36px 36px 0;
        font-size: 18px; font-weight: 600;
        transition-property: box-shadow, background, color;
        @include flex($align: center, $gap: 16px);

        &.router-link-exact-active, &:hover, &:focus {
          background: var(--button);
          color: var(--title);
          box-shadow: 0 4px 8px var(--shadow);
          i { color: red; }
        }

        i { font-size: 26px; transition: 200ms color; }
        img { width: 26px; border-radius: 50%; }
      }

      label { font-size: 16px; margin: 4px 32px; }
      &.subscriptions a img { box-shadow: 0 4px 8px var(--shadow); }
    }

    &.sidebar-compact {
      padding: 0;
      width: 100px;
      max-height: calc(100vh - 64px);

      aside {
        &.links a {
          border-radius: 0;
          padding: 16px 8px;
          position: relative;
          flex-direction: column; gap: 8px;
          font-size: 12px; font-weight: 500;

          &:hover, &:focus, &.router-link-exact-active {
            color: red !important;
            box-shadow: none !important;
            background: transparent !important;
            i { color: red; }
          }

          &.router-link-exact-active::before {
            content: "";
            display: block;
            background: red;
            font-weight: 700;
            width: 5px; height: 60%;
            border-bottom-right-radius: 4px; border-top-right-radius: 4px;
            position: absolute; top: 50%; left: 0; transform: translateY(-50%);
          }
        }

        &.subscriptions { display: none; }
      }
    }

    &.sidebar-floating {
      display: none;

      &.sidebar-open { display: flex; }
    }

    &::-webkit-scrollbar {
      width: 3px;
      &-thumb { background: transparent; border-radius: 36px; }
    }

    &:hover { &::-webkit-scrollbar-thumb { background: var(--hover); } }
  }
}

// Mobile
@media only screen and (max-width: 700px) {
  header {
    &.navigation {
      gap: 16px;
      position: relative;
      padding: 12px !important;
      width: calc(100% - 24px) !important;

      aside {
        &.brand {
          i, svg { display: none; }
          img.mobile-logo { display: block; }
        }

        &.search {
          transform: unset;
          background: var(--bg);
          width: 100% !important;
          left: inherit !important;
          padding: 8px 12px !important;
          position: relative !important;
          box-shadow: 0 4px 8px var(--shadow);

          &:hover, &:focus-within {
            border-image: initial !important;
            background: var(--bg) !important;
          }

          img.mobile-avatar { display: block !important; }
        }

        &.links { display: none; }
      }
    }

    &.sidebar, &.sidebar-compact {
      padding: 0;
      width: 100% !important;
      bottom: 0 !important; top: unset !important;

      aside {
        &.subscriptions { display: none; }
        &.links {
          flex-direction: row !important; gap: 0;

          a {
            width: 100%;
            border-radius: 0;
            position: relative;
            padding: 8px !important;
            flex-direction: column; gap: 4px;
            font-size: 10px; font-weight: 500;

            &.router-link-exact-active, &:hover, &:focus {
              color: red !important;
              box-shadow: none !important;
              background: transparent !important;
              i { color: red; }

              &::before {
                content: "";
                display: block;
                background: red;
                font-weight: 700;
                width: 60% !important; height: 5px !important;
                border-radius: 0 !important;
                border-bottom-left-radius: 4px !important; border-bottom-right-radius: 4px !important;
                position: absolute; top: 0 !important; left: 50% !important; transform: translateX(-50%) !important;
              }
            }

            i { font-size: 24px; }
          }

          div.subscriptions { display: none; }
          a.create, a.history, a.watch-later { display: none !important; }
        }
      }

      a.create-video { display: none !important; }
    }
  }
}