@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700";
@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";

$light-bg: #ffffff;
$light-text: #505050;
$light-shadow: #05052520;
$light-search: #f4f4f8;
$light-hover: #eeeef0;

$dark-bg: #010001;
$dark-text: #d0d0d0;
$dark-hover: #202020;
$dark-button: #101010;

:root {
  --bg: #{$light-bg};
  --text: #{$light-text};
  --title: #{$dark-bg};
  --shadow: #{$light-shadow};
  --button: #{$light-bg};
  --search: #{$light-search};
  --hover: #{$light-hover};
}

html {
  * {
    text-decoration: none;
    color: var(--text);
    padding: 0; margin: 0; border: 0;
    font: 20px "Inter", sans-serif; font-weight: 400;
    &::selection { background: var(--shadow); }
    &::-webkit-scrollbar {
      width: 4px;
      &-thumb { background: var(--hover); }
    }
  }
}

.button {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 36px;
  transition: 0.15s opacity;
  background: var(--bg);
  box-shadow: 0 4px 8px var(--shadow);
  color: var(--title); font-weight: 600; font-size: 18px;
  &:hover { opacity: 0.75 !important; }
}

i, img, svg { user-select: none; }

@mixin flex($align: unset, $justify: unset, $direction: row, $gap: 0) {
  gap: $gap;
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #{$dark-bg};
    --text: #{$dark-text};
    --title: #{$light-bg};
    --button: #{$dark-button};
    --search: #{$dark-button};
    --hover: #{$dark-hover};
  }
}

// PC
@media only screen and (min-width: 768px) {
  main {
    padding-top: 72px;
    &.sidebar { padding-left: 256px; }
    &.sidebar-compact { padding-left: 100px; }
  }
}

// Mobile
@media only screen and (max-width: 768px) {
  main { padding-top: 68px; }
}