@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500";
@import "mixins.scss";

:root {
  --bg: white;
  --fg: black;
  --red: #d93025;
  --gray: #f1f3f4;
  --icon: #5f6368;
  --hover: #0000000f;
  --active: #e8eaed;
  --shadow: #00000048;
  --bg-red: #d9302520;
  --nav-height: 65px;

  @media (prefers-color-scheme: dark) {
    --bg: #151719;
    --fg: white;
    --gray: #25292c;
    --icon: #c5c5c5;
    --hover: #ffffff0f;
    --bg-red: #d9302532;
    --active: #3a3a41;
  }

  @include breakpoint { --nav-height: 57px }
}

* {
  color: var(--fg);
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0; margin: 0; border: 0;
  font: 16px "Inter", sans-serif; font-weight: 400;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  @include breakpoint(min) {
    &::-webkit-scrollbar {
      width: 3px; height: 3px;
      &-track { background: transparent }
      &-thumb { background: var(--icon) }
    }
  }

  &::placeholder { color: var(--icon) }
  &::selection { background: var(--active) }

  &.action {
    padding: 8px;
    cursor: pointer;
    border-radius: 9999px;
    &:hover { background: var(--hover) }
  }
}

body {
  background: var(--bg);

  svg:not(.logo) {
    width: 24px;
    path, rect, polygon { fill: var(--icon) }
  }

  .container {
    padding: 24px;
    @include flex($dir: column, $gap: 16px);
    @include breakpoint { padding: 16px }

    > h1 { font-size: 20px; font-weight: 500 }
  }

  button {
    cursor: pointer;
    background: transparent;
    @include flex(center, center);

    &.subscribe {
      color: white;
      cursor: pointer;
      font-weight: 500;
      padding: 10px 20px;
      border-radius: 9999px;
      background: var(--red);
      @include breakpoint {
        padding: 10px;
        color: var(--red);
        background: transparent;
        font-size: 18px; text-transform: uppercase;
        &:hover { background: var(--hover) }
      }
    }
  }
}